.home:hover h5 span {
    text-transform: uppercase;
}
.home h5 i {
    display: none;
}
.home:hover h5 i {
    display: inline-block;
    padding-left: 10px;
}
.home, .home:hover, .home:visited {
    color: black;
}
.home:hover {
    text-decoration: none;
}
#registration-form #profile-picture-render {
    position: relative;
    background-color: rgba(0, 0, 0, 0.075);
}
#registration-form #profile-picture-render .fa-user {
    font-size: 100px;
}

#registration-form #profile-picture-render #profile-picture-render-img {
    padding: 15px;
    display: block;
    text-align: center;
    margin: auto;
}

#registration-form #profile-picture-select {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 100%;
}

#registration-form #profile-picture-select label {
    margin: 0;
}

#registration-form #profile-picture-render:hover #profile-picture-select {
    display: block;
}

#registration-spinner {
    display: none;
    animation: spin 1.5s infinite linear;
    margin-right: 10px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }

    to {
       transform:rotate(360deg);
    }
}

.separator {
    clear: both;
}

#inject-button {
    margin: 15px 0;
}

/* src.: https://www.w3schools.com/howto/howto_js_treeview.asp */
/* Remove default bullets */
ul, #treeview {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#treeview {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

#treeview-area img {
    width: 100%;
}
